@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
.rainbow__line__container {
  display: flex;
  flex-direction: row;
}
.rainbow__text__container {
  margin-left: -540px;
  z-index: 1;
  max-width: 780px;
  color: rgb(200, 41, 68);
  font-family: Poppins, sans-serif;
}
.rainbow__container {
  margin-left: 600px;
  margin-top: 200px;
  height: 34em;
  width: 34em;
  transform: translate(-50%, -50%);
}

.rainbow__container:after {
  content: "";
  position: absolute;
  height: 50.5%;
  width: 100%;
  bottom: 1%;
  left: -40%;
  border-radius: 0 0 0.6em 0.6em;
  background-color: var(
    --turn__off__rainbow__container__afterBackColor,
    #85a8fc
  );
}

.rainbow__color {
  position: relative;
  transform: translate(-50%, -50%);
  animation: rainbow__spin 5s infinite;
  transform-origin: 50% 0;
}

@keyframes rainbow__spin {
  30% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  55% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  85% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.rainbow__color-1 {
  height: 11.25em;
  width: 22.5em;
  border: 1.25em solid #fd004c;
  border-top: none;
  top: calc(50% + 5.62em);
  border-radius: 0 0 11.25em 11.25em;
  animation-delay: 0.8s;
}

.rainbow__color-2 {
  height: 10em;
  width: 20em;
  border: 1.25em solid #fe9000;
  border-top: none;
  top: calc(50% + 6em);
  margin-top: -196px;
  border-radius: 0 0 10em 10em;
  background: transparent;
  animation-delay: 0.6s;
}

.rainbow__color-3 {
  height: 8.75em;
  width: 17.5em;
  border: 1.25em solid#fff020;
  border-top: none;
  margin-top: -144px;
  top: calc(50% + 4.37em);
  border-radius: 0 0 8.75em 8.75em;
  background: transparent;
  animation-delay: 0.4s;
}

.rainbow__color-4 {
  height: 7.5em;
  width: 15em;
  border: 1.25em solid #3edf4b;
  border-top: none;
  margin-top: -140px;
  top: calc(50% + 3.75em);
  background: transparent;
  border-radius: 0 0 7.5em 7.5em;
  animation-delay: 0.2s;
}

.rainbow__color-5 {
  height: 6.25em;
  width: 12.5em;
  border: 1.25em solid #3363ff;
  border-top: none;
  margin-top: -120px;
  top: calc(50% + 3.12em);
  border-radius: 0 0 6.5em 6.5em;
  background: transparent;
}

@media screen and (max-width: 539px) {
  .rainbow__line__container {
    flex-direction: column;
  }
  .rainbow__container {
    margin-left: 850px;
  }
  .rainbow__text__container {
    margin-left: 200px;
    min-width: 800px;
    margin-top: -350px;
  }
}

@media screen and (min-width: 540px) and (max-width: 1280px) {
  .rainbow__container {
    margin-left: 450px;
  }
  .rainbow__text__container {
    margin-top: 100px;
    margin-left: -210px;
    min-width: 700px;
  }
  .rainbow__container:after {
    left: -50%;
    width: 101%;
  }
}
